---
layout: default
---

<!-- Scroll to top button -->
<div class="scroll-top-wrapper ">
    <a href="#page-top" class="page-scroll">
        <span class="scroll-top-inner">
            <i class="fa fa-2x fa-arrow-circle-up"></i>
        </span>
    </a>
</div>



<section class="bg-light" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">About Me</h2>
                <hr class="primary">
                <img class="img-circle" src="img/marco_headshot.png" alt="Marco Moutinho Picture">
                <p class="add-default-margin">
                    My name is Marco Moutinho and I am a developer who is very passionate about software engineering, 
                    whether it be web, mobile, desktop, or backend. I enjoy writing software and increasing my knowledge in 
                    my spare time. I believe my passion is what drives me to always work at my best. 
                    <br /><br />
                    I enjoy taking on challenging tasks and prefer them over simple ones. When working on projects, 
                    not only do I focus on getting the job done but I also place a high priority on code quality, readability, 
                    reusability, and maintainability.
                    <br /><br />
                    When not writing, or learning about, code, I enjoy gaming. I also do my best to stay healthy by eating right and 
                    going to the gym 4 to 5 times a week.
                </p>
            </div>
        </div>
    </div>
</section>

<section class="bg-dark" id="portfolio">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Portfolio</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio">
                    <a href="" class="portfolio-box" data-toggle="modal" data-target="#pawlish-modal">
                        <img src="img/pawlish.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption text-center">
                        <h4 class="text-primary thick">Pawlish The Dog Spa</h4>
                        <p class="text-muted italic">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio">
                    <a href="#" class="portfolio-box" data-toggle="modal" data-target="#fit4adventure-modal">
                        <img src="img/fit4adventure.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption text-center">
                        <h4 class="text-primary thick">Fit4Adventure</h4>
                        <p class="text-muted italic">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio">
                    <a href="#" class="portfolio-box" data-toggle="modal" data-target="#hollywood-modal">
                        <img src="img/hollywood.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption text-center">
                        <h4 class="text-primary thick">Hollywood Mobile Auto Detailing</h4>
                        <p class="text-muted italic">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio">
                    <a href="#" class="portfolio-box" data-toggle="modal" data-target="#paragon-site-modal">
                        <img src="img/paragon_site.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption text-center">
                        <h4 class="text-primary thick">Paragon Roofing Ltd.</h4>
                        <p class="text-muted italic">Website Design</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio">
                    <a href="#" class="portfolio-box" data-toggle="modal" data-target="#paragon-app-modal">
                        <img src="img/paragon_app.png" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption text-center">
                        <h4 class="text-primary thick">Paragon Roofing Ltd.</h4>
                        <p class="text-muted italic">App Development</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-sm-6">
                <div class="portfolio">
                    <a href="#" class="portfolio-box" data-toggle="modal" data-target="#game-modal">
                        <img src="img/video-game.jpg" class="img-responsive" alt="">
                        <div class="portfolio-box-caption">
                            <div class="portfolio-box-caption-content">
                                <i class="fa fa-search fa-2x"></i>
                            </div>
                        </div>
                    </a>
                    <div class="portfolio-caption text-center">
                        <h4 class="text-primary thick">Project Red Gorilla</h4>
                        <p class="text-muted italic">Video Game Development</p>
                    </div>
                </div>
            </div>
        </div> <!-- row -->
    </div>
</section>

<section class="big-background hidden-xs">
    <a id="bgndVideo" class="player" data-property="{videoURL:'https://www.youtube.com/watch?v=53LWPkRyPF0',containment:'body',autoPlay:true, mute:true, startAt:0, opacity:1}"></a>

    <div class="pattern"></div>
    <div class="big-background-container">
        <div class="big-background-inner">
            <h1>Project Red Gorilla<br /><small>Multiplayer Video Game</small></h1>
            <hr />
            <a target="_blank" href="https://www.youtube.com/embed/fcy4TMj2Bzw?rel=0&autoplay=1" class="big-background-btn">Watch Full Trailer</a>
        </div>
    </div>
</section>

<section id="services" class="bg-light">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">At Your Service</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6 text-center add-default-margin">
                <div class="service-box">
                    <i class="fa fa-4x fa-diamond wow bounceIn text-primary"></i>
                    <h3>Web Design</h3>
                    <p class="text-muted">Focusing on modern looking websites.</p>
                </div>
            </div>
            <div class="col-md-6 text-center add-default-margin">
                <div class="service-box">
                    <i class="fa fa-4x fa-mobile wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>App Development</h3>
                    <p class="text-muted">Building apps on mobile or web.</p>
                </div>
            </div>
            <div class="col-md-6 text-center add-default-margin">
                <div class="service-box">
                    <i class="fa fa-4x fa-support wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>Support</h3>
                    <p class="text-muted">Available for contract work for new and existing projects.</p>
                </div>
            </div>
            <div class="col-md-6 text-center add-default-margin">
                <div class="service-box">
                    <i class="fa fa-4x fa-heart wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Made with Love</h3>
                    <p class="text-muted">You have to make your apps with love these days!</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="contact" class="bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Let's Get In Touch!</h2>
                <hr class="primary">
                <p>Ready to start your next project? That's great! Give me a call or send me an email and I will get back to you as soon as possible!</p>
            </div>
            <div class="col-lg-4 col-lg-offset-2 text-center">
                <i class="fa fa-phone fa-3x wow bounceIn"></i>
                <p>416-305-5994</p>
            </div>
            <div class="col-lg-4 text-center">
                <i class="fa fa-envelope-o fa-3x wow bounceIn" data-wow-delay=".1s"></i>
                <p><a href="mailto:marcomoutinho@live.ca">marcomoutinho@live.ca</a></p>
            </div>
        </div>
    </div>
</section>

<!-- Modals -->
<!-- Portfolio Modal - Pawlish The Dog Spa -->
{% include modals/pawlish.html %}

<!-- Portfolio Modal - Fit4Adventure -->
{% include modals/fit4adventure.html %}

<!-- Portfolio Modal - Hollywood Mobile Auto Detailing -->
{% include modals/hollywood.html %}

<!-- Portfolio Modal - Paragon Roofing Web Site -->
{% include modals/paragon-site.html %}

<!-- Portfolio Modal - Paragon Roofing App -->
{% include modals/paragon-app.html %}

<!-- Portfolio Modal - Video Game -->
{% include modals/video-game.html %}
