<div class="portfolio-modal modal fade" id="hollywood-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="thick">Hollywood Mobile Auto Detailing</h2>
                        <p class="item-intro text-muted italic">Web Design</p>
                        <img class="img-responsive img-centered" src="img/hollywood.png" alt="">
                        <p>A website created for an auto detailing company, focusing on bringing its detailing service to you with its on site service. The website was built using HTML, CSS, JavaScript/jQuery, and Bootstrap</p>
                        <ul class="list-inline">
                            <li><a class="big-btn" target="_blank" href="http://www.hollywoodautodetailing.ca">Visit Page</a></li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>