<div class="portfolio-modal modal fade" id="paragon-app-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="thick">Paragon Roofing Ltd. Time App</h2>
                        <p class="item-intro text-muted italic">App Development</p>
                        <img class="img-responsive img-centered" src="img/paragon_app.png" alt="">
                        <p>
                            Currently under development, this app will be a mobile/web app. A custom application designed for employees to track their hours. The site supervisor will have access to enter hours for each day, 
                            the workers will have readonly access to those hours and will be able to submit a ticket if the hours they worked do not match those entered. 
                            <br /><br />
                            Payroll will also be able to login and get the total hours for the week to begin processing that weeks payroll. Other custom features such as expense calculations and estimation calculator will be available
                            for certain user roles.
                            <br /><br />
                            This app will be created using a .NET backened with access to data through a Web API. Will be developed for Android and iOS. A web interface will also be available for desktop access.
                        </p>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>