<div class="portfolio-modal modal fade" id="game-modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl">
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <div class="modal-body">
                        <h2 class="thick">Project Red Gorilla</h2>
                        <p class="item-intro text-muted italic">Video Game Development</p>
                        <img class="img-responsive img-centered" src="img/video-game.jpg" alt="">
                        <p>
                            A video game developed for my capstone, reached finals and placed in 3rd at the Capstone Competition.
                            <br /><br />
                            An online space shooter with a focus on ability powers that can be selected at game lobby. Its a 3 vs 3 combat game with 2 game modes;
                            Team Death Match and Destroy The Carrier.
                            <br /><br />
                            Developed using Unity3D Engine, C#, and Photon Networking.
                        </p>
                        <ul class="list-inline">
                            <li><a target="_blank" href="https://www.youtube.com/embed/fcy4TMj2Bzw?rel=0&autoplay=1" class="big-btn">Watch Trailer</a></li>
                        </ul>
                        <button type="button" class="btn btn-primary" data-dismiss="modal"><i class="fa fa-times"></i> Close Project</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>