<!DOCTYPE html>
<html lang="en">

    {% include head.html %}

    <body id="page-top">

        {% include header.html %}

        {{ content }}

        {% include footer.html %}

        <!-- jQuery -->
        <script src="js/jquery.js"></script>

        <!-- Bootstrap Core JavaScript -->
        <script src="js/bootstrap.min.js"></script>

        <!-- Plugin JavaScript -->
        <script src="js/jquery.easing.min.js"></script>
        <script src="js/jquery.fittext.js"></script>
        <script src="js/wow.min.js"></script>
        <script src="../js/jquery.mb.YTPlayer.js"></script>

        <!-- Custom Theme JavaScript -->
        <script src="js/creative.js"></script>
        <script>
            (function ($) {
                $(document).ready(function () {
                    var is_mobile = false;

                    if ($('.player').css('display') == 'none') {
                        is_mobile = true;
                    }
                    if (is_mobile == true) {
                        //Conditional script here
                        $('.big-background').addClass('bg-dark');
                    } else {
                        $('.player').mb_YTPlayer();
                    }
                });
            })(jQuery);

            $(function () {

                $(document).on('scroll', function () {

                    if ($(window).scrollTop() > 100) {
                        $('.scroll-top-wrapper').addClass('show');
                    } else {
                        $('.scroll-top-wrapper').removeClass('show');
                    }
                });
            });

        </script>
    </body>

</html>
